//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.9 Beta-5
//Part Number: GW5AST-LV138FPG676AES
//Device: GW5AST-138
//Device Version: B
//Created Time: Thu 11 16 08:38:11 2023

IO_LOC "result_data[4]" N23;
IO_PORT "result_data[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "result_data[3]" N21;
IO_PORT "result_data[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "result_data[2]" M25;
IO_PORT "result_data[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "result_data[1]" L20;
IO_PORT "result_data[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "result_data[0]" R26;
IO_PORT "result_data[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "result_data_valid" J14;
IO_PORT "result_data_valid" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_io_pads_jtag_TDO_o_oval" A17;
IO_PORT "o_io_pads_jtag_TDO_o_oval" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_pads_jtag_TCK_i_ival" C21;
IO_PORT "io_pads_jtag_TCK_i_ival" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "io_pads_jtag_TDI_i_ival" B20;
IO_PORT "io_pads_jtag_TDI_i_ival" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "io_pads_jtag_TMS_i_ival" B19;
IO_PORT "io_pads_jtag_TMS_i_ival" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "i_cam_data" A18;
IO_PORT "i_cam_data" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "rst_n" K16;
IO_PORT "rst_n" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "clk" P16;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
